* {
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 10vw;
    align-items: center;
    justify-content: center;
    background-color: darkgreen;
}

footer {
    width: 100%;
    height: 10vw;
    background-color: darkgreen;
}

#logo{
    width: 30%;
}
#logo img{
    width: 5vw;
    margin-left: 15%;
}

#menu{
    width: 70%;
}
#menu input{
    width: 20vw;
    font-size: 1.5vw;
    margin-right: 15%;
}

#banner {
    width: 100%;
    height: 15vw;
    background-color: lightgrey;
    align-items: center;
}
#banner img{
    width: 40vw;
}

#contend {
    width: 94%;
    min-height: 30vw;
    padding: 1vw 3% 1vw 3%;
    background-color: white;
    display: flex;
}

#direito {
    width: 70%;
    min-height: 40vw;
    flex-direction: column;
}
#direito img{
    width: 60vw;
    margin-bottom: 2vw;
    margin-left: 0;
}

#textNoticia{
    width: 100%;
    justify-content: flex-start;
}
#textNoticia a{
    width: 100%;
    text-decoration: none;
    font-size: 3vw;
}

#esquerdo{
    width: 30%;
    min-height: 40vw;
    flex-direction: column;
    align-items: center;
}
#esquerdo img{
    width: 28vw;
    margin-bottom: 1vw;

}

.flex{
    display: flex;
}



@media (max-width:760px) {
    #logo{
        width: auto;
    }
    #menu{
        display: none;
    }
    #banner{
        display: none;
    }
    #contend{
        flex-direction: column;
    }
    #direito{
        width: 100%;
        margin-bottom: 2vw;
    }
    #direito img{
        width: 100%;
    }
    #textNoticia{
        text-align: center;
    }
    #textNoticia a{
        font-size: 5vw;
        font-weight: 600;
        word-break: keep-all;
    }
    #esquerdo{
        width: 100%;
    }
    #esquerdo img{
        width: 100%;
    }
}